@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

.container {
  margin: 0;
}

body {
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

.nobullet {
  list-style-type: none;
}

.button {
  font-family: "Pt Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
}

.main-bunner {
  background-image: url(../images/images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #3b5669;
  color: #ffffff;
}

.slogan {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages {
  text-align: center;
}

.advantages-header {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.background-basic {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: #83b3d31f;
}

.advantages-item:nth-child(3) {
  background-color: #82b3d433;
}

.services {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle-services {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-description {
  color: #333333;
}

.services-item:nth-child(1),
.services-item:nth-child(3) {
  background-color: #83b3d31f;
}

.promo-bunner {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.promo-text {
  color: rgb(51, 51, 51);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.button-all {
  text-decoration: none;
}

.newsletter {
  background-image: url(../images/images/subscribe.jpg);
  background-size: cover;
  background-color: #3b5669;
  color: #ffffff;
  text-align: center;
}

.page-footer-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.newsletter-button {
  border-radius: 0px 4px 4px 0px;
  background: #82b3d3;
}

.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.htmlacademy-log {
  text-align: left;
}

.header {
  background-image: url(../images/images/filter-background.jpg);
  background-repeat: no-repeat;
  background-color: #1c2643;
  background-size: cover;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.breadcrumbs {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
}

.button-submit {
  background: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

.search-results {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.hotel-card-price {
  text-align: left;
}

.price {
  text-align: right;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.hotel-card-button-green {
  background-color: #7db54f;
}

.hotel-card-button-blue {
  background-color: #82b3d3;
}

.pagination-link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  background-color: #82b3d3;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}
