@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

body {
  font-family: "Pt Sans" sans-serif;
  font-size: 30px;
  line-height: 36px;
  background-color: #fbf7f4;
  color: black;
}

.page-header {
  background: #FFF;
  color: var(--Texts-Texts-basic, #000);
}

.navigation-link {
font-family: "PT Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;
text-transform: capitalize;
text-decoration: none;
color:inherit;
background: #FFF;
}
.navigation-button{
font-family: "PT Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
color:  #FFF;
text-align: center;
border-radius: 4px;
background:  #756157;
display: flex;
width: 160px;
}
.main-bunner{
  background-image: url("../images/images/index-background.jpg");
  background-repeat: no-repeat;
  background-color: rgb(28, 38, 67);
  background-size: 100% auto;
}
.advantages-header {
  text-align: center;
}

.slogan{
font-family: "PT Sans";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
color:  #333;
text-align: center;
}
.class {
background: #82B3D3;
font-family: "PT Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
}

