@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

body {
  font-family: "Pt Sans"sans-serif;
  font-size: 24px;
  line-height: 28px;
  background-color: #fbf7f4;
  color: black;
}

.page-header {
  background: #FFF;
  color: var(--Texts-Texts-basic, #000);
}

.navigation-link {
  font-family: "Pt Sans"sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #FFF;
}

.navigation-button {
  font-family: "Pt Sans"sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
  background: #756157;
  display: flex;
}

.main-intex {
  margin-top: 0;
}

.main-bunner {
  background-image: url("../images/images/index-background.jpg");
  background-repeat: no-repeat;
  background-color: rgb(28, 38, 67);
  color: #FFF;
  background-size: 100% auto;
}

.welcome-img {
  display: block;
}

.slogan {
  font-family: "PT Sans"sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--Texts-Texts-basic, #000);
  text-align: center;
}

.advantages-title {
  text-transform: uppercase;
}

.advantages-header {
  font-family: "PT Sans"sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--Texts-second, #333);
  text-align: center;
}

.advantages-title {
  text-align: center;
}

.advantages-description {
  font-family: "PT Sans"sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.background-basic {
  background: var(--Background-basic-3, #82B3D3);
  color: var(--Texts-background-deafault, #FFF);
  text-align: center;
}

.advantages-item-color-1 {
  background: var(--Background-second-1, rgba(131, 179, 211, 0.12));
  text-align: center;
}

.advantages-item-color-2 {
  background: var(--Background-second-2, rgba(131, 179, 211, 0.20));
  text-align: center;
}

.title {
  font-family: "Pt Sans"sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--Texts-Texts-basic, #000);
  text-align: center;
}

.subtitle-services {
  font-family: "Pt Sans"sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--Texts-second, #333);
  text-align: center;
}

.services-title {
  text-transform: uppercase;
}

.services-description {
  font-family: "Pt Sans"sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.services-item {
  background: var(--Background-second-1, rgba(131, 179, 211, 0.12));
  text-align: center;
}

.services-item-white {
  text-align: center;
}

.promo-bunner {
  font-family: "Pt Sans"sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--Texts-Texts-basic, #000);
  text-align: center;
}

.promo-text {
  font-family: "Pt Sans"sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--Texts-second, #333);
  text-align: center;
}

.button-button-all {
  text-align: center;
  font-family: "Pt Sans"sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--Buttons-basic, #756157);
  color: var(--Texts-background-deafault, #FFF);
}
.newsletter{
  background-image:url(../images/images/filter-background.jpg);
  background-repeat: no-repeat;
  background-color: rgb(28, 38, 67);
  color: #FFF;
  background-size: 100% auto;
}
.page-footer-title{
font-family: "PT Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
text-align: center;
}
.newsletter-description{
font-family: "PT Sans";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
color: #FFF;
text-align: center;
}
.newsletter-email{
  color: var(--basic-black, #000);
font-family: "PT Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.button-newsletter-button{
font-family: "PT Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
border-radius: 0px 4px 4px 0px;
background:  #82B3D3;
color: var(--Texts-background-deafault, #FFF);
text-align: center;
}

.contacts-phone {
font-family: "PT Sans";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
color: var(--Texts-Texts-basic, #000);
text-align: center;
}

.htmlacademy-log{
  text-align: left;
}
